Source: ccnet
Section: net
Priority: extra
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends:
    debhelper (>= 7),
    autotools-dev,
    libssl-dev,
    libsqlite3-dev,
    intltool,
    libglib2.0-dev,
    libevent-dev,
    uuid-dev,
    libtool,
    libcurl4-openssl-dev,
    valac,
    libjansson-dev,
    python,
    libsearpc-dev
Standards-Version: 3.9.5
Homepage: http://seafile.com

Package: ccnet
Section: net
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends}
Conflicts: seafile
Description: Seafile client ccnet framework.
 A framework for writing networked applications in C.
 It provides basic services like peer identification,
 connection management, service invocation, and message sending.

Package: libccnet0
Section: libs
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends}
Conflicts: seafile
Description: Shared libraries for package ccnet.
 This package contains the shared libraries for the ccnet package.


Package: libccnet-dev
Section: libdevel
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    libccnet0 (= ${binary:Version})
Conflicts: seafile
Description: Development files for package libccnet0.
 This package contains the development files for the libccnet0 package.
